.board {
  border-collapse: collapse;
  margin: 1em auto;
}

.square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
}

.square button {
  width: 100%;
  height: 100%;
  font-size: 100%;
  background-color: transparent;
  border: none;
}

.square button:hover {
  cursor: pointer;
  background-color: LightGrey;
}

.winner {
  background-color: LightGrey;
}

.right {
  border-right: solid 4px;
}

.bottom {
  border-bottom: solid 4px;
}
